@import 'frame';

  article{
    width: 352px;
    background: $color-white;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    margin-bottom: 3.55555em;

    img{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .article-item{
      padding: 1.33333em;
    }

    p{
      margin-bottom: 0;
    }
    h4{
      margin-top: 0;
    }
  }



.post-meta{
  opacity: 0;
  height: 0;
  margin: 0;
}

.pagination{
  display: flex;
  justify-content: space-between;
}
