.home {
  .background-gradient{
    background: linear-gradient(161.37deg, rgba(20, 69, 105, 0.6) 5.29%, rgba(18, 18, 18, 0.982084) 69.16%, #121212 93.23%);
  }

  .fish {
    max-width: 860px;

    figcaption {
      left: 27%;
      bottom: 24%;
      right: 25%;
    }
  }

  figure {
    position: relative;
    margin: auto;

    figcaption {
      width: auto;
      margin: 0;
      position: absolute;
      bottom: 6.1%;
      right: 0;
      left: 0;
      font-weight: 500;
      line-height: 150%;
    }

    .center {
      text-align: center;
    }
  }


  .container {
    z-index: 1;
    position: relative;
    padding: 16px;

    h2 {
      font-weight: 500;
      font-size: 48px;
    }

    .fish {
      margin: 128px auto;
    }

    .flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    table {
      min-width: 320px;
      max-width: 50%;
      flex-grow: 1;
      width: 0;
      margin: 8px;
    }

    th {
      text-align: left;
      font-size: 24px;
    }

    .leistungsbringer {
      margin: auto auto 256px;
      text-align: center;
      max-width: 100%;

      hr{
        width: 104px;
      }

      p{
        margin: 32px auto;
      }
    }
  }

  .cta-button {
    margin-top: 72px;
  }

  .about {
    margin: 256px auto;

    figure {
      max-width: 584px;
      figcaption {
        bottom: auto;
        top: 20.2%;
        left: 21.8%;
        right: 25%;
      }
    }

    @media only screen and (max-width: 1199px) {
      &.flex {
      display: none
      };
    }
    @media only screen and (min-width: 1200px) {
      display: none;
    }
  }
}
