.home {
  background: linear-gradient(161.37deg, rgba(20, 69, 105, 0.6) 5.29%, rgba(18, 18, 18, 0.982084) 69.16%, #121212 93.23%);

  .post-content {
    h1 {
      font-weight: bold;
      font-size: 72px;
      line-height: 128%;
    }

    h2 {
      font-weight: 500;
      font-size: 48px;
    }

    .subtitle {
      font-weight: 500;
      font-size: 36px;
      line-height: 54px;
      color: $color-gray_5;
    }

    h3, p {
      width: 30%;

    }

    .fish {
      margin: 128px auto;
    }

    figure {
      position: relative;
      max-width: 860px;
      margin: auto;

      figcaption {
        position: absolute;
        margin: 0;
        left: 27%;
        bottom: 24%;
        right: 25%;
        font-weight: 500;
        line-height: 150%;
        width: auto;
      }
    }

    .flex {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 164px;

    }

    table {
      min-width: 376px;
      flex-grow: 1;
      width: 0;
    }

    th {
      text-align: left;
      font-size: 24px;
    }

  }

  .about {
    margin: 256px auto;

    figure {
      max-width: 584px;
      figcaption {
        bottom: auto;
        top: 20.2%;
        left: 21.8%;
        right: 25%;
      }
    }

    @media only screen and (max-width: 1199px) {
      &.flex {
      display: none
      };
    }
    @media only screen and (min-width: 1200px) {
      display: none;
    }
  }
}
