.kosten {
  .with-image.small {
    > div {
      width: 649px;
    }

    amp-img {
      filter: drop-shadow(2px 4px 32px rgba(0, 0, 0, 0.12));
    }
  }

  .focus {
    width: 736px;
    margin-left: auto;
    margin-right: auto;
  }

  .wrap.left {
    amp-img {
      margin-left: 0;
    }
  }

  .wrap.right {
    amp-img {
      margin-right: 0;
    }
  }
}
