.niedergelassene-leistungsbringer {
  .post-content {
    div{
      margin: 168px auto;
      width: max-content;
      width: fit-content;
      max-width: 100%;
    }
  }


  hr {
    width: 104px;
    margin-left: 0;
  }


}
