.post-content {
  gap: 4rem;
  display: flex;
  flex-direction: column;
}

.post-meta{
  opacity: 0;
  height: 128px;
  margin: 0;
}

.post-header {
  figure {
    margin: auto;
    max-width: calc(min(50vh, 50vw));
  }
  h1{
    display: none;
  }
}
