.page-header {
  max-width: 640px;
  margin-left: 0;
  margin-bottom: 500px;

  @media only screen and (max-width: $mobile-width) {
    margin-bottom: 64px;
  }
}

.container{
  position: relative;
}

figure{
  img {
    border-radius: 16px;
  }
}

@media only screen and (min-width: $mobile-width) {
  figure {
    position: absolute;
    right: 0;
    top: 120px;
  }
}


figcaption{
  h3 {
    margin-top: 0.88888em;
    margin-bottom: 0.22222em;
  }
}
