@import 'frame';

.page-header {
  max-width: 736px;
  text-align: center;
  margin: auto;

}

article {
  width: 352px;
  margin-bottom: 3.55555em;

  .article-item {
    padding: 1.33333em 0;
  }

  p {
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
  }

  img {
    border-radius: 16px;
  }
}
