.unser-service {
  .post-content {
    display: grid;
    grid-template-columns: auto 410px;

    @media only screen and (max-width: 750px) {
      display: block;

      > table:nth-child(2n + 3) {
        margin-bottom: 128px;
      }
    }

    p:nth-child(1){
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: 128px;
    }

    table {
      position: relative;
      margin-top: 24px;
      margin-bottom: 24px;
      height: 0;
      text-align: left;

      thead{
        font-size: 24px;
        letter-spacing: 0.02em;
        color: $color-white;
      }
    }

    > table:nth-child(2n + 3) {
      height: 100%;
      padding-left: 0;
      padding-right: 0;
      thead{
        font-size: 72px;
        line-height: 92px;
        letter-spacing: 0.02em;
        color: $color-gray_5;

        vertical-align: bottom;
      }
      tbody{
        vertical-align: top;
      }
    }


    > table:nth-child(2n + 2) {
      padding: 48px 48px 48px 0;
      margin-right: 64px;

      &::after {
        position: absolute;
        background: inherit;
        content: "";
        top: 0;
        bottom: 0;
        padding-left: 100vw;
        left: -100vw;
      }
    }
    > table:nth-child(2) {
      width: 70%;
      background: $color-darkblue_40;
    }
    > table:nth-child(4) {
      width: 80%;
      background: $color-darkblue_60;
    }
    > table:nth-child(6) {
      width: 90%;
      background: $color-darkblue_80;
    }
    > table:nth-child(8) {
      width: 100%;
      background: $color-darkblue;
    }
  }


}
