.unser-service {
  .post-content {
    display: grid;
    grid-template-columns: auto calc(410px + 64px + 16px);


    p:nth-child(1){
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: 128px;
    }

    table {
      position: relative;
      margin-top: 24px;
      margin-bottom: 24px;
      height: 0;
      text-align: left;

      thead{
        font-size: 24px;
        letter-spacing: 0.02em;
        color: $color-white;
      }
    }

    > table:nth-child(2n + 3) {
      height: 100%;
      padding-left: calc(64px + 16px);
      padding-right: 0;
      thead{
        font-size: 72px;
        line-height: 92px;
        letter-spacing: 0.02em;
        color: $color-gray_5;

        vertical-align: bottom;
      }
      tbody{
        vertical-align: top;
      }
    }


    > table:nth-child(2n + 2) {
      padding: 48px 48px 48px 0;

      &::after {
        position: absolute;
        background: inherit;
        content: "";
        top: 0;
        bottom: 0;
        padding-left: 100vw;
        left: -99.9vw;
      }
    }
    > table:nth-child(2) {
      width: calc(70% + 16px);
      background: #132635;
    }
    > table:nth-child(4) {
      width: calc(80% + 16px);

      background: #133046;
    }
    > table:nth-child(6) {
      width: calc(90% + 16px);
      background: #143B58;
    }
    > table:nth-child(8) {
      width: calc(100% + 16px);
      background: $color-darkblue;
    }


    @media only screen and (max-width: 800px) {
      display: block;

      > table:nth-child(2n + 3) {
        margin-bottom: 128px;
        padding-left: 0;
      }
    }
  }
}
