.vorgehensweise {
  text-align: center;

  .post-content {

    :after {
      display: block;
      margin-top: 29px;
    }

    p:first-child {
      margin-bottom: 128px;
    }

    p:not(:first-child):not(:last-child):after {
      content: "";
      margin-left: auto;
      margin-right: auto;
      width: 2px;
      height: 128px;
      background: $color-lightblue;
      border-radius: 1px;
    }

    :nth-child(2):after {
      content: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CjxwYXRoIGQ9Ik0xMi41MTgxIDMuNDkzOTJDMTQuMDQ5MyAwLjc4NDg5IDE3Ljk1MTQgMC43ODQ4ODUgMTkuNDgyNiAzLjQ5MzkxTDI5Ljk2MDMgMjIuMDMxNEMzMS40Njc1IDI0LjY5NzkgMjkuNTQxIDI3Ljk5OTcgMjYuNDc4MSAyNy45OTk3SDUuNTIyNTlDMi40NTk2MyAyNy45OTk3IDAuNTMzMTg3IDI0LjY5NzkgMi4wNDAzNCAyMi4wMzE0TDEyLjUxODEgMy40OTM5MloiIGZpbGw9IiMwMDlGRTMiIGZpbGwtb3BhY2l0eT0iMC4yIiBzdHJva2U9IiMwMDlGRTMiIHN0cm9rZS13aWR0aD0iMiIvPgo8bGluZSB4MT0iMTYiIHkxPSIxMC4zMzMiIHgyPSIxNiIgeTI9IjE3LjY2NjMiIHN0cm9rZT0iIzAwOUZFMyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPGNpcmNsZSBjeD0iMTYiIGN5PSIyMi42NjciIHI9IjIiIGZpbGw9IiMwMDlGRTMiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMCI+CjxyZWN0IHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K")
    }
    :nth-child(4):after {
      content: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjMzMzcgMjQuMDAwM0MxOS4yMjQ3IDI0LjAwMDMgMjQuMDAwMyAxOS4yMjQ3IDI0LjAwMDMgMTMuMzMzN0MyNC4wMDAzIDcuNDQyNjIgMTkuMjI0NyAyLjY2Njk5IDEzLjMzMzcgMi42NjY5OUM3LjQ0MjYyIDIuNjY2OTkgMi42NjY5OSA3LjQ0MjYyIDIuNjY2OTkgMTMuMzMzN0MyLjY2Njk5IDE5LjIyNDcgNy40NDI2MiAyNC4wMDAzIDEzLjMzMzcgMjQuMDAwM1oiIGZpbGw9IiMwMDlGRTMiIGZpbGwtb3BhY2l0eT0iMC4yIiBzdHJva2U9IiMwMDlGRTMiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTI5LjMzMzIgMjkuMzMzMkwyMC43OTk4IDIwLjc5OTgiIHN0cm9rZT0iIzAwOUZFMyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K")
    }
    :nth-child(6):after {
      content: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQgMTcuMzMzVjMuMjg4NTdDMTAuNjY2NyAwLjY4MTE1NCAyMS4zMzMzIDAuNjgxMTU0IDI4IDMuMjg4NTdWMTcuMzMzQzI4IDIzLjM3MTIgMjIgMjcuOTk5NyAxNiAzMC42NjYzQzEwIDI3Ljk5OTcgNCAyMy4zNzEyIDQgMTcuMzMzWiIgZmlsbD0id2hpdGUiIGZpbGwtb3BhY2l0eT0iMC4yIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K")
    }
    :nth-child(8):after {
      content: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3LjIwMDMgMy43MzI4MUwyMC40MDAzIDkuMzMyODFDMjAuODAwMyA5Ljk5OTQ4IDIxLjQ2NjkgMTAuMzk5NSAyMi4xMzM2IDEwLjY2NjFMMjguNDAwMyAxMS45OTk1QzI5LjQ2NjkgMTIuMjY2MSAyOS44NjY5IDEzLjQ2NjEgMjkuMDY2OSAxNC4yNjYxTDI0LjgwMDMgMTkuMDY2MUMyNC4yNjY5IDE5LjU5OTUgMjQuMDAwMyAyMC4zOTk1IDI0LjEzMzYgMjEuMTk5NUwyNC44MDAzIDI3LjU5OTVDMjQuOTMzNiAyOC42NjYxIDIzLjg2NjkgMjkuMzMyOCAyMi45MzM2IDI4LjkzMjhMMTcuMDY2OSAyNi4yNjYxQzE2LjQwMDMgMjUuOTk5NSAxNS42MDAzIDI1Ljk5OTUgMTQuOTMzNiAyNi4yNjYxTDkuMDY2OTIgMjguOTMyOEM4LjEzMzU5IDI5LjMzMjggNy4wNjY5MiAyOC41MzI4IDcuMjAwMjUgMjcuNTk5NUw3Ljg2NjkyIDIxLjE5OTVDOC4wMDAyNiAyMC4zOTk1IDcuNzMzNTkgMTkuNzMyOCA3LjIwMDI1IDE5LjA2NjFMMi45MzM1OSAxNC4yNjYxQzIuMjY2OTIgMTMuNDY2MSAyLjY2NjkyIDEyLjI2NjEgMy42MDAyNiAxMS45OTk1TDkuODY2OTIgMTAuNjY2MUMxMC42NjY5IDEwLjUzMjggMTEuMjAwMyA5Ljk5OTQ4IDExLjYwMDMgOS4zMzI4MUwxNC44MDAzIDMuNzMyODFDMTUuMzMzNiAyLjkzMjgxIDE2LjY2NjkgMi45MzI4MSAxNy4yMDAzIDMuNzMyODFaIiBmaWxsPSJ3aGl0ZSIgZmlsbC1vcGFjaXR5PSIwLjIiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==")
    }
    :nth-child(10):after {
      content: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI0LjY2NjMgMTcuOTk5N0MyNC42NjYzIDIzLjg2NjMgMTkuODY2MyAyOC42NjYzIDEzLjk5OTcgMjguNjY2M0M4LjEzMyAyOC42NjYzIDMuMzMzMDEgMjMuODY2MyAzLjMzMzAxIDE3Ljk5OTdDMy4zMzMwMSAxMi4xMzMgOC4xMzMgNy4zMzMwMSAxMy45OTk3IDcuMzMzMDFWMTcuOTk5N0gyNC42NjYzWiIgZmlsbD0id2hpdGUiIGZpbGwtb3BhY2l0eT0iMC4yIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik0yOC42NjY3IDEzLjk5OTdIMThWMy4zMzMwMUMyNCAzLjMzMzAxIDI4LjY2NjcgNy45OTk2OCAyOC42NjY3IDEzLjk5OTdaIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=")
    }

    .cta-button {
      margin-top: 144px;
      margin-bottom: 272px;
    }
  }
}
