.wir-stellen-uns-vor {
  $max-width: 1076px;

  h1 {
    margin-bottom: 0;
  }

  .post-content {
    amp-img {
      display: block;
      margin: auto;
      width: 444px;

      @media only screen and (min-width: $max-width) {
      float: right;
      margin-top: 360px;
      margin-bottom: 360px;
      margin-left: 123px;
      height: 100%;
      }
    }

    hr {
      margin-left: 0;
    }

    @media only screen and (min-width: $max-width) {
      :nth-child(n + 11) {
        margin-left: 50%;
      }

      .cta-button {
        margin-top: -222px;
        margin-left: 16%;
      }
    }
  }
}
