.wir-stellen-uns-vor {
  $max-width: 1076px;

  h1 {
    margin-bottom: 0;
  }

  .post-content {
    amp-img {
      float: right;
      margin-top: 360px;
      margin-bottom: 360px;
      margin-left: 123px;
      width: 444px;
      height: 100%;

      @media only screen and (max-width: $max-width) {
        display: none;
      }
    }

    h2 {
      text-align: left;
      margin-top: 128px;
    }

    hr {
      margin-left: 0;
    }

    @media only screen and (min-width: $max-width) {
      :nth-child(n + 10) {
        margin-left: 50%;
      }

      .cta-button {
        margin-top: -222px;
        margin-left: 16%;
      }
    }
  }
}
