{% if site.analytics.google.tracking_id%}
<!-- Google Analytics tracking -->
<amp-analytics data-block-on-consent type="googleanalytics" id="amp-analytics">
<script type="application/json">
{
  "vars": {
    "account": "{{ site.analytics.google.tracking_id }}"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>
<!-- End Google Analytics example -->
{% endif %}

<!--{% if site.analytics.gtag.tracking_id%}-->
<!--&lt;!&ndash; Google Tag tracking &ndash;&gt;-->
<!--<amp-analytics data-block-on-consent type="gtag"-->
<!--               config="https://www.googletagmanager.com/amp.json?id={{site.analytics.gtag.tracking_id}}"-->
<!--               data-credentials="include"></amp-analytics>-->
<!--&lt;!&ndash; End Google Tag &ndash;&gt;-->
<!--{% endif %}-->

{% if site.analytics.facebookpixel.tracking_id%}
<!-- Facebook Pixel Analytics tracking -->
<amp-analytics data-block-on-consent type="facebookpixel" id="facebook-pixel">
  <script type="application/json">
    {
      "vars": {
        "pixelId": "{{ site.analytics.facebookpixel.tracking_id }}"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
  </script>
</amp-analytics>
<!-- End Facebook Pixel Analytics example -->
{% endif %}

{% if site.analytics.googleadwords.tracking_id %}
<!-- googleadwords Analytics tracking -->
<amp-analytics data-block-on-consent type="gtag" data-credentials="include">
  <script type="application/json">
    {
      "vars": {
        "gtag_id": "{{site.analytics.googleadwords.tracking_id}}",
        "config": {
          "{{site.analytics.googleadwords.tracking_id}}": {
            "groups": "default"
          }
        }
      }
    }
  </script>
</amp-analytics>
<!-- End googleadwords Analytics tracking-->
{% endif %}


<amp-analytics>
  {% assign domain = site.url | split: '.' | reverse %}
  <script type="application/json">
    {
      "cookies": {
        "enabled": true,
        "cookieMaxAge": "Session",
        "campaignName": {
          "value": "QUERY_PARAM(campaignName)",
          "sameSite": "Lax",
          "secure": true,
          "cookieDomain": ".{{domain[1]}}.{{domain[0]}}"
        },
        "campaignId": {
          "value": "QUERY_PARAM(campaignId)",
          "sameSite": "Lax",
          "secure": true,
          "cookieDomain": ".{{domain[1]}}.{{domain[0]}}"
        },
        "utm_source": {
          "value": "QUERY_PARAM(utm_source)",
          "sameSite": "Lax",
          "secure": true,
          "cookieDomain": ".{{domain[1]}}.{{domain[0]}}"
        },
        "utm_content": {
          "value": "QUERY_PARAM(utm_content)",
          "sameSite": "Lax",
          "secure": true,
          "cookieDomain": ".{{domain[1]}}.{{domain[0]}}"
        },
        "utm_campaign": {
          "value": "QUERY_PARAM(utm_campaign)",
          "sameSite": "Lax",
          "secure": true,
          "cookieDomain": ".{{domain[1]}}.{{domain[0]}}"
        },
        "apn": {
          "value": "QUERY_PARAM(apn)",
          "sameSite": "Lax",
          "secure": true,
          "cookieDomain": ".{{domain[1]}}.{{domain[0]}}"
        },
        "ibi": {
          "value": "QUERY_PARAM(ibi)",
          "sameSite": "Lax",
          "secure": true,
          "cookieDomain": ".{{domain[1]}}.{{domain[0]}}"
        },
        "isi": {
          "value": "QUERY_PARAM(isi)",
          "sameSite": "Lax",
          "secure": true,
          "cookieDomain": ".{{domain[1]}}.{{domain[0]}}"
        }
      }
    }
  </script>

</amp-analytics><amp-analytics>
  <script type="application/json">
    {
      "linkers": {
        "linker1": {
          "ids": {
            "ex": "QUERY_PARAM(ex)"
          },
          "proxyOnly": false,
          "enabled": true
        }
      },
      "cookies": {
        "ex": {
          "value": "LINKER_PARAM(linker1, ex)"
        }
      }
    }
  </script>
</amp-analytics>
