{% if site.analytics.facebookpixel.tracking_id%}
<!-- Facebook Pixel Analytics tracking -->
<amp-analytics data-block-on-consent type="facebookpixel" id="facebook-pixel">
  <script type="application/json">
    {
      "vars": {
        "pixelId": "{{ site.analytics.facebookpixel.tracking_id }}"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
  </script>
</amp-analytics>
<!-- End Facebook Pixel Analytics example -->
{% endif %}

{% if site.analytics.googleadwords.tracking_id %}
<!-- googleadwords tracking -->
<amp-analytics data-block-on-consent-purposes="marketing" type="gtag" data-credentials="include">
  <script type="application/json">
    {
      "vars": {
        "gtag_id": "{{site.analytics.googleadwords.tracking_id}}",
        "config": {
          "{{site.analytics.googleadwords.tracking_id}}": {
            "groups": "default"
          }
        }
      }
    }
  </script>
</amp-analytics>
<!-- End googleadwords tracking-->
{% endif %}

{% if site.analytics.googleanalytics.tracking_id %}
<!-- googleanalytics tracking -->
<amp-analytics data-block-on-consent-purposes="statistic" type="gtag" data-credentials="include">
  <script type="application/json">
    {
      "vars": {
        "gtag_id": "{{site.analytics.googleanalytics.tracking_id}}",
        "config": {
          "{{site.analytics.googleanalytics.tracking_id}}": {
            "groups": "default"
          }
        }
      }
    }
  </script>
</amp-analytics>
<!-- End googleanalytics tracking-->
{% endif %}
