{% if site.analytics.google.tracking_id%}
<!-- Google Analytics tracking -->
<amp-analytics data-block-on-consent type="googleanalytics" id="amp-analytics">
<script type="application/json">
{
  "vars": {
    "account": "{{ site.analytics.google.tracking_id }}"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>
<!-- End Google Analytics example -->
{% endif %}

<!--{% if site.analytics.gtag.tracking_id%}-->
<!--&lt;!&ndash; Google Tag tracking &ndash;&gt;-->
<!--<amp-analytics data-block-on-consent type="gtag"-->
<!--               config="https://www.googletagmanager.com/amp.json?id={{site.analytics.gtag.tracking_id}}"-->
<!--               data-credentials="include"></amp-analytics>-->
<!--&lt;!&ndash; End Google Tag &ndash;&gt;-->
<!--{% endif %}-->

{% if site.analytics.facebookpixel.tracking_id%}
<!-- Facebook Pixel Analytics tracking -->
<amp-analytics data-block-on-consent type="facebookpixel" id="facebook-pixel">
  <script type="application/json">
    {
      "vars": {
        "pixelId": "{{ site.analytics.facebookpixel.tracking_id }}"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
  </script>
</amp-analytics>
<!-- End Facebook Pixel Analytics example -->
{% endif %}

<amp-analytics>
  {% assign domain = site.url | split: '//' %}
  <script type="application/json">
    {
      "cookies": {
        "enabled": true,
        "cookieName1": {
          "value": "QUERY_PARAM(example)",
          "sameSite": "Lax",
          "cookieDomain": ".{{domain[1]}}"
        },
        "cookieName2": {
          "value": "LINKER_PARAM(exampleParamName, exampleIdName)"
        }
      }
    }
  </script>
</amp-analytics>
