<!-- Start Footer -->
<footer class="ampstart-footer flex flex-column items-center px3 ">


  {%- include social.html -%}

  <nav class="ampstart-footer-nav">
    <ul class="list-reset flex flex-wrap mb3">
      <li class="px1"><a class="text-decoration-none ampstart-label" href="#">About</a></li>
      <li class="px1"><a class="text-decoration-none ampstart-label" href="#">Contact</a></li>
      <li class="px1"><a class="text-decoration-none ampstart-label" href="#">Terms</a></li>
    </ul>
  </nav>
  <small>
    © Finanz Café, {{ site.time | date: '%Y' }}
  </small>
</footer>
<!-- End Footer -->
