<!-- Start Footer -->
<footer>
  <section id="contact" class="ampstart-footer">
    <div class="container">
      <div>
        <h3>Information</h3>
        <nav>
          <ul>
            {% for link in site.data.navigation.footer %}
            <li><a href="{{ link.url }}" rel="noopener" class="masthead__menu-item">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <div>
        <h3>Rechtliches</h3>
        <nav>
          <ul>
            {% for link in site.data.navigation.legal %}
            <li><a href="{{ link.url }}" rel="noopener" class="masthead__menu-item">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <small>
          © {{ site.author }}, {{ site.time | date: '%Y' }}
        </small>
      </div>

      <div>
        <h3>Kontakt</h3>
          <address>
            {% if site.author %}
            {{ site.author }}
            <br>
            {% endif %}

            {% if site.address %}
            {{ site.address }}
            <br>
            {% endif %}
          </address>

          <br>

          {% if site.tel %}
          Telefon: <a href="tel:{{ site.tel }}" target="_blank">{{ site.tel }}</a>
          <br>
          {% endif %}
          {% if site.whatsapp %}
          Whatsapp: <a href="{{ site.whatsapp_link }}" target="_blank">{{ site.whatsapp }}</a>
          <br>
          {% endif %}
          {% if site.email %}
          E-Mail: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email }}</a>
          {% endif %}
      {%- include social.html -%}
      </div>
    </div>
  </section>
</footer>
<!-- End Footer -->
