<!-- Start Navbar -->
<header class="ampstart-headerbar">
  {% assign partner = page.path | split: "/" | first %}
  {% if partner != "index.html" and partner != "_pages" and partner != "_posts" and partner != "blog" %}
  {% assign partnerLogo = '/logo.svg' | prepend: partner %}
  {%else%}
  {% assign partner = False %}
  {% endif %}

  {% if site.logo %}
  <a class="ampstart-headerbar-logo" href="{{ '#' | prepend: partner | relative_url }}" itemprop="url" {% include data-amp-addparams %}>
    <amp-img data-amp-auto-lightbox-disable src="{{ partnerLogo | default: site.logo | relative_url }}" width="200" height="32"
             layout="intrinsic" alt="{{ site.title }}"></amp-img>
  </a>
  {% else %}
  <a class="ampstart-headerbar-title" href="{{ site.baseurl }}/#" itemprop="url" {% include data-amp-addparams %}>
    {{ site.title }}
  </a>
  {% endif %}

  <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0"
       class="ampstart-navbar-trigger">
    <span></span>
    <span></span>
  </div>


  <nav>
    <ul>
      {% for link in site.data.navigation.header %}
      {% unless partner and link.noPartner %}
      <li><a href="{{ link.url | prepend: partner | relative_url }}" class="masthead__menu-item" {% include data-amp-addparams %}>{{
        link.title }}</a></li>
      {% endunless %}
      {% endfor %}
    </ul>
  </nav>


  {% include cta-button.html %}

</header>

<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar" layout="nodisplay" side="right">
  <nav class="ampstart-sidebar-nav ampstart-nav">
    <ul class="ampstart-sidebar-faq">
      <li class="ampstart-faq-item"><a href="{{ '#' | prepend: partner | relative_url }}" itemprop="url" {% include data-amp-addparams %}><span
        itemprop="name">Home</span></a></li>
      {% for link in site.data.navigation.header %}
      {% unless partner and link.noPartner %}
      <li class="ampstart-faq-item"><a href="{{ link.url | prepend: partner | relative_url }}" itemprop="url" {% include
                                       data-amp-addparams %}><span itemprop="name">{{ link.title }}</span></a></li>
      {% endunless %}
      {% endfor %}
      <li>
        {% include cta-button.html %}
      </li>
    </ul>
  </nav>
</amp-sidebar>
<!-- End Sidebar -->
<!-- End Navbar -->

{% include consent.html %}

<div style="height: 0; opacity: 0;">EMPTY</div>
