
<!-- Start Navbar -->
<header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4 ">
  <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger  pr2  ">☰
  </div>
  {% if site.logo %}
  <a class="page-link my0 mx-auto" href="{{ site.baseurl }}/" itemprop="url">
  <amp-img src="{{ site.logo | relative_url }}" width={{site.logo-width}} height="50" layout="fixed" alt="The Blog"></amp-img>
  </a>
  {% else %}
  <a class="page-link ampstart-headerbar-title mx-auto h3" href="{{ site.baseurl }}/" itemprop="url">
  {{ site.title }}
  </a>
  {% endif %}
</header>

<!-- Start Sidebar -->
<amp-sidebar id="header-sidebar" class="ampstart-sidebar px3  " layout="nodisplay">
  <div class="flex justify-start items-center ampstart-sidebar-header">
    <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
  </div>
  <nav class="ampstart-sidebar-nav ampstart-nav">
    <ul class="ampstart-sidebar-faq list-reset m0">
      <li class="ampstart-faq-item"><a class="page-link" href="{{ site.baseurl }}/" itemprop="url" ><span itemprop="name">Home</span></a></li>
      {% for my_page in site.pages %}
      {% if my_page.title and my_page.header %}
      <li class="ampstart-faq-item"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}" itemprop="url"><span itemprop="name">{{ my_page.title }}</span></a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>

  {%- include social.html -%}
</amp-sidebar>
<!-- End Sidebar -->
<!-- End Navbar -->
