.ampstart-headerbar {
  height: $height-header;
  color: $color-gray_5;
  background: $color-white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  button {
    width: 100%;
  }


  &[aria-hidden="true"] {
    background: none;
    backdrop-filter: none;
  }

  a {
    text-decoration: none;
    margin: auto;
  }

  .ampstart-headerbar-logo {
    margin-left: 32px;
  }

  .cta-button{
    margin-right: 32px;
  }

  ul {
    font-size: 1.125rem;
    display: flex;
    grid-gap: 64px;
    list-style: none;
    padding: 0;
    text-align: center;

    a {
      margin: 0;
    }
  }
}


@media only screen and (min-width: $mobile-width) {
  .ampstart-navbar-trigger {
    display: none;
  }
}

@media only screen and (max-width: $mobile-width) {
  .ampstart-headerbar {
    nav, a[role="button"] {
      display: none;
    }

    .ampstart-headerbar-logo {
      margin-left: 20px;
    }

    height: 64px;

    .ampstart-navbar-trigger {
      margin: 20px;
    }
  }
}

.ampstart-sidebar {
  z-index: 998;
  width: 100%;
  background: none;
  backdrop-filter: blur(32px);

  .ampstart-faq-item {
    a {
      display: block;
      padding: 1rem;
    }
  }

  ul {
    list-style: none;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 400px;
    height: fit-content;
  }

  a {
    text-decoration: none;
  }
}

.ampstart-navbar-trigger {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: currentColor;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 8px;
  }

  span:nth-child(2) {
    top: 16px;
    left: 8px;
    width: 16px;
  }


  &[tabindex="-1"] {
    span {
      left: 0;
      top: 11px;
    }

    span:nth-child(1) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    span:nth-child(2) {
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
      width: inherit;
    }
  }
}

body div[aria-hidden="true"] {
  background: $color-white;
  backdrop-filter: blur(32px);
  z-index: 1;
}


.ampstart-social-follow {
  z-index: 999;
  list-style: none;
  padding-left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  li {
    padding: 12px;
  }

  :first-child {
    padding-left: 0;
  }
}
