.ampstart-footer {
  background: rgb(19, 48, 70);
  line-height: 1.78;

  .h3, .ampstart-social-follow svg {
    color: $color-white;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 128px 52px;

    & > div {
      width: 272px;
      margin: 0 auto 64px;
      text-align: left;

      &:last-child {
        margin-bottom: 0;
      }

      &, a {
        color: $color-gray_5;
      }
    }

    @media only screen and (max-width: $mobile-width) {
      padding-top: 64px;
    }

  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      margin: 0;
    }
  }

}
