.ampstart-headerbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 123px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  z-index: 999;
  background: $color-darkblue_60;
  backdrop-filter: blur(32px);

  &[aria-hidden="true"] {
    background: none;
    backdrop-filter: none;
  }

  a {
    color: $color-white;
    text-decoration: none;
    margin: 32px;
  }

  .ampstart-headerbar-logo {
    width: 200px;
  }

  ul {
    width: 356px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    text-align: center;

    a {
      margin: 0;
    }
  }
}


@media only screen and (min-width: $mobile-width) {
  .ampstart-navbar-trigger {
    display: none;
  }
}

@media only screen and (max-width: $mobile-width) {
  .ampstart-headerbar {
    ul, a[role="button"] {
      display: none;
    }

    .ampstart-headerbar-logo {
      width: 99px;
    }

    height: 64px;

    a, div[role="button"] {
      margin: 20px;
    }
  }
}

.ampstart-sidebar {
  z-index: 998;
  width: 100%;
  padding-right: 10vw;
  padding-left: 10vw;
  background: none;
  backdrop-filter: blur(32px);

  .ampstart-faq-item {
    margin: 32px;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
  }

  ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-bottom: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  a {
    text-decoration: none;
  }
}

.ampstart-navbar-trigger {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $color-white;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 8px;
  }

  span:nth-child(2) {
    top: 16px;
    left: 8px;
    width: 16px;
  }


  &[tabindex="-1"] {
    span {
      left: 0;
      top: 11px;
    }

    span:nth-child(1) {
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    span:nth-child(2) {
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
      width: inherit;
    }
  }
}

body div[aria-hidden="true"] {
  background: $color-darkblue_60;
  backdrop-filter: blur(32px);
  z-index: 1;
}
