#siteConsent {
  background: transparent;
  font-size: 12px;
  width: auto;
  left: auto;
  right: 0;

  div {
    line-height: 1.25;
  }

  p {
    font-size: 12px;
    margin-bottom: 1em;
  }

  #consentPopup {
    background: $color-white;
    padding: 1px;
    @media (min-width: 600px) {
      width: 400px;
      margin-right: 16px;
      border-radius: 4px;
      margin-bottom: 16px;
    }

    #consentDialog{
      margin: 15px;
    }
  }

  #repromptDialog button {
    font-size: 42px;
    background: transparent;
    width: auto;
    border-radius: 27px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  hr {
    border: 1px solid #F2F2F2;
  }


  summary {
    list-style: none;
    letter-spacing: 0.1em;
    height: 42px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-transform: uppercase;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      position: absolute;
      right: 2px;
      top: 11px;
      content: "";
      width: 11px;
      height: 11px;
      border: solid $color-black;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  details {
    ~.stroke {
      display: none;
    }

    &[open] ~ {
      .grey {
        display: none;
      }
      .stroke {
        display: block;
      }
    }
  }

  details[open] summary::after {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 18px;
  }


  label {
    position: relative;
    display: flex;
    cursor: pointer;
    margin: 0 0 16px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      flex-shrink: 0;
      position: relative;
      align-self: center;
      height: 25px;
      width: 25px;
      border: 2px solid $color-secondary;
      border-radius: 20%;
      margin-right: 12px;

      &:after {
        content: "";
        position: absolute;
        opacity: 0;

        left: 8px;
        top: 1px;
        width: 8px;
        height: 16px;
        border: solid $color-secondary;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    input:checked ~ .checkmark:after {
      opacity: 1;
    }

    input:disabled ~ div {
      opacity: 60%;
    }
  }

  button {
    display: block;
    margin: 8px auto;
    font-size: 18px;
  }

}
