<!DOCTYPE html>
<html amp lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body class="{{ page.title | escape | downcase | replace: ' ', '' }}">

    {%- include header.html -%}

    <!-- Start Fullpage Hero -->
    <div class="ampstart-image-fullpage-hero">
      <figure>
        <amp-img height="300" alt="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ page.title }}{% endif %}" layout="fixed-height"
                 src="{{ layout.headerImage | default: site.defaultHeaderImage | relative_url }}" media="(max-width: 940px)"></amp-img>
        <amp-img height="600" alt="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ page.title }}{% endif %}" layout="fixed-height"
                 src="{{ layout.headerImage | default: site.defaultHeaderImage | relative_url }}" media="(min-width: 941px)"></amp-img>
      </figure>

      {%- include social.html -%}

    </div>
    <!-- End Fullpage Hero -->

    {{ content }}

    {%- include footer.html -%}

    {% include analytics.html %}
  </body>

</html>
