---
layout: legal
---

<h3 id="statusbezogene-information">(Statusbezogene Information)</h3>

<p>Pflichtangaben gemäß § 15 VersVermV in Verbindung mit § 34 d GewO</p>

<p><br>
  <br></p>

<h3 id="ihr-zuständiger-makler">Ihr zuständiger Makler:</h3>

<p>Wechselgott GmbH
  <br>
  Spinnereistr. 7
  <br>
  04179 Leipzig
  Telefon 0176 – 61330780
  <br>
  E-Mail: info@wechselgott.com
  <br>
  Internet: www.wechselgott.de</p>

<p><br>
  <br></p>

<h3 id="geschäftsführer">Geschäftsführer</h3>

<p>Werner Kräutlein</p>

<p>Die Wechselgott GmbH ist als Versicherungsmaklerin gemäß § 59 Abs. 3 Versicherungsvertragsgesetz mit einer Erlaubnis
  nach § 34 d Abs. 1 GewO, erteilt durch die Industrie- und Handelskammer Leipzig, tätig. Sie ist im
  Versicherungsvermittlerregister unter der Registernummer D-RQG9-3UTCX-82 registriert.</p>

<p><br>
  <br></p>

<h3 id="informationen-zur-registrierung">Informationen zur Registrierung</h3>

<p>Industrie- und Handelskammer zu Leipzig Goerdelerring 5 04109 Leipzig Telefon: 0341 1267 – 0 Fax: 0341 1267 -1421
  Internet: www.leipzig.ihk.de</p>

<p>Die Eintragung in das Versicherungsvermittlerregister kann im Wege des automatischen Abrufs über das
  Internet (www.vermittlerregister.info oder www.vermittlerregister.org) oder telefonisch, ggf. schriftlich beim
  Vermittlerregister überprüft werden:</p>

<p>DIHK Deutscher Industrie- und Handelskammertag e. V.
  <br>
  Breite Straße 29 10178 Berlin
  <br>
  Telefon: 0180 – 6005850
  <br>
  (Festnetzpreis 0,20 EUR/Anruf; Mobilfunkpreise max. 0,60 € / Anruf)
  <br>
  Fax: 030 – 203081000</p>

<p><br>
  <br></p>

<h3 id="information-über-vergütungen-und-zuwendungen-dritter-bei-der-versicherungsvermittlung">Information über
  Vergütungen und Zuwendungen Dritter bei der Versicherungsvermittlung</h3>

<p>Für die Versicherungsvermittlung müssen Sie keine direkte Vergütung an Ihren Vertriebspartner zahlen, sofern Sie dies
  nicht ausdrücklich anders mit ihm vereinbart haben (z.B. bei der Vermittlung eines Nettotarifs). Die Vergütung Ihres
  Vertriebspartners für die Versicherungsvermittlung erfolgt im Falle einer erfolgreichen Policierung in Form einer
  Provisions-/Courtagezahlung des Produktgebers.</p>

<p>Diese Vergütung ist bereits in der Versicherungsprämie enthalten. Über die Provision hinaus erhält Ihr
  Vertriebspartner
  keine weiteren monetären Zuwendungen im Zusammenhang mit der Versicherungsvermittlung. Neben der Vergütung kann der
  Vertriebspartner jedoch ggfs. auch sog. nicht-monetäre Zuwendungen von Dritten wie z.B. Informationsmaterial,
  Schulungen
  usw. erhalten. Details hierzu können Sie auch der Interessenkonflikt-Policy Ihres Vertriebspartners entnehmen. Alle
  Zuwendungen dürfen vom Vertriebspartner als Vergütung angenommen und behalten werden. Ein Anspruch auf Herausgabe gem.
  §§ 667, 675 BGB (Geschäftsbesorgung) besteht nicht.</p>

<p>Sonstige Hinweise zur Versicherungsvermittlung</p>

<p>Die Wechselgott GmbH hält keine unmittelbaren oder mittelbaren Beteiligungen von mehr als 10% an den Stimmrechten
  oder
  am Kapital eines Versicherungsunternehmens.</p>

<p>Ein Versicherungsunternehmen hält keine mittelbaren oder unmittelbaren Beteiligungen von mehr als 10% an den
  Stimmrechten oder am Kapital der Wechselgott GmbH</p>

<p><br>
  <br></p>

<h3 id="kundenbeschwerden">Kundenbeschwerden</h3>

<h4 id="beschwerdewege">Beschwerdewege</h4>

<p>Für den Fall, dass Sie als Kunde mit unseren Leistungen unzufrieden sind und sich beschweren möchten, können Sie
  jederzeit mit unserem Unternehmen über folgende Wege Kontakt aufnehmen:</p>

<p>Per E-Mail an folgende Adresse:info@wechselgott.com Per Brief an folgende Adresse: Wechselgott GmbH, Spinnereistr. 7,
  Halle 20E, 04179 Leipzig
  <br>
  Ab diesem Zeitpunkt steht Ihnen als Kunde ein zentraler Ansprechpartner für Ihre Beschwerde zur
  Verfügung. Für die Einreichung einer Beschwerde sowie deren Bearbeitung fallen keine Kosten oder Gebühren für Sie an.
</p>

<h4 id="notwendige-angaben">Notwendige Angaben</h4>

<p>Zur besseren Nachvollziehbarkeit sollten Sie Ihre Beschwerde immer in Textform einreichen. Die Kundenbeschwerde
  sollte
  außerdem folgende Angaben beinhalten:</p>

<p>Name und Anschrift des Kunden Name Ihres zuständigen Vermittlers
  <br>
  Genauer Zeitpunkt, wann das Ereignis, das zur Beschwerde führte, eingetreten ist.
  <br>
  Die Bezeichnung des konkreten Produkts oder die Serviceleistung, auf die sich Ihre
  Unzufriedenheit bezieht. Die Darstellung des Beschwerdegrunds, d.h. eine detaillierte Ausführung und Beschreibung,
  warum
  Sie als Kunde mit dem von uns vermittelten, konkreten Produkt oder unseren Beratungs- oder Vermittlungsleistungen
  unzufrieden sind.
  <br>
  Erwerbs-oder Abschlussdatum des betroffenen Produkts Sonstige sachdienliche Informationen in Bezug auf
  Ihre Beschwerde wie z.B. Detailangaben zum Beratungs-oder Vermittlungsgespräch o.ä.</p>

<h4 id="prozessablauf">Prozessablauf</h4>

<p>Um Interessenkonflikte zu vermeiden und eine objektive Untersuchung des Sachverhalts zu gewährleisten übernimmt die
  Prüfung und Bearbeitung der Beschwerde das zentrale Beschwerdemanagement der Wechselgott GmbH.</p>

<p>Nach Eingang der Beschwerde erhalten Sie von unserem Unternehmen unverzüglich eine schriftliche Eingangsbestätigung.
  Im
  Falle Ihrer anwaltlichen Vertretung wird aufgrund gängiger Praxis auf eine gesonderte Eingangsbestätigung an Ihren
  Anwalt verzichtet.</p>

<p>Auf jede Beschwerde werden wir grundsätzlich innerhalb einer Frist von zwei Kalenderwochen schriftlich antworten,
  wenn
  Sie uns keine andere angemessene Bearbeitungsfrist gesetzt haben. Sollte im Einzelfall aufgrund erforderlicher
  umfassender Prüfungen diese Frist nicht eingehalten werden können, werden wir Ihnen eine Zwischeninformation über die
  Gründe der Verzögerung geben und Ihnen mitteilen, wann die Prüfung voraussichtlich abgeschlossen sein wird.
  <br>
  Nach einer fundierten Recherche unter Einbeziehung aller Parteien und der regulatorischen Vorgaben versuche wir, eine
  für alle
  Beteiligten zufriedenstellende Lösung zu finden.</p>

<p>Sobald unsere Recherche abgeschlossen ist, erhalten Sie von uns ein Antwortschreiben, in dem wir Ihnen unser
  abschließendes Prüfungsergebnis mitteilen und Ihnen, soweit möglich, einen Lösungsvorschlag unterbreiten.</p>

<h4 id="weitere-möglichkeiten">Weitere Möglichkeiten</h4>

<p>Sofern im Falle einer Kundenbeschwerde ausnahmsweise keine einvernehmliche Lösung mit unserem Unternehmen gefunden
  werden kann, sind wir bereit, an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
  teilzunehmen.</p>

<p>Je nachdem welchem Leistungsbereich unseres Unternehmens Ihre Beschwerde zuzuordnen ist, sind unterschiedliche
  Schlichtungsstellen zuständig.</p>

<p>Für den Fall, dass die Beschwerde eine Versicherungsvermittlung betrifft, ist der Versicherungsombudsmann e. V.
  zuständig.</p>

<p>Kontakt: Postfach 080632 | 10006 Berlin
  <br>
  Tel.: 0800-36 96 000 (kostenfrei aus deutschen Telefonnetzen)
  <br>
  Fax: 0800-36 99 000 (kostenfrei aus deutschen Telefonnetzen)
  <br>
  E-Mail:beschwerde@versicherungsombudsmann.de Internet: www.versicherungsombudsmann.de</p>

<p>Betrifft die Beschwerde die Vermittlung einer privaten Krankenversicherung, besteht die Zuständigkeit des Ombudsmann
  Private Kranken-und Pflegeversicherung</p>

<p>Kontakt: Postfach 060222 | 10052 Berlin
  <br>
  Tel.: 0800-255 04 44 (kostenfrei aus deutschen Telefonnetzen)
  <br>
  Fax: 030-204 589 31 E-Mail: ombudsmann@pkv-ombudsmann.de
  <br>
  Internet: www.pkv-ombudsmann.de</p>

<p>Betrifft die Beschwerde eine Darlehensvermittlung, besteht die Zuständigkeit der Schlichtungsstelle bei der Deutschen
  Bundesbank</p>

<p>Kontakt: Postfach 11 12 32, 60047 Frankfurt
  <br>
  Telefon:+49 69 / 23 88 19 07
  <br>
  Telefax: +49 69 / 70 90 90 99 01
  <br>
  Internet: https://www.bundesbank.de/Navigation/DE/Service/Schlichtungsstelle/schlichtungsstelle.html
  <br>
  Mail: schlichtung@bundesbank.de</p>

<p>Sofern Ihre Beschwerde die Vermittlung einer Kapitalanlage, insbesondere eines Investmentfonds oder eines
  Alternativen
  Investmentfonds sowie die Vermittlung einer Immobilie betrifft, besteht die Zuständigkeit der Allgemeine
  Verbraucherschlichtungsstelle des Zentrums für Schlichtung e. V.</p>

<p>Kontakt: Straßburgerstraße 8, 77694 Kehl
  <br>
  Telefon: +49 7851 / 79 57 940 Telefax: +49 7851 / 79 57 941
  <br>
  Internet: www.verbraucher-schlichter.de
  <br>
  Mail: mail@verbraucher-schlichter.de</p>

<p>Bitte achten Sie darauf, dass die Schlichtung erst angerufen werden kann, wenn Ihre Beschwerde gegenüber unserem
  Unternehmen mitgeteilt wurde und von uns entweder zurückgewiesen oder aber seit mehr als 2 Monaten nicht bearbeitet
  wurde.</p>

<p>Daneben haben Sie sowohl als Verbraucher als auch Nichtverbraucher die Möglichkeit einer Klage vor dem zuständigen
  Zivilgericht.</p>

<p>Die Europäische Kommission hat gemäß der Richtlinie 2013/11/EU eine Europäische Online-Streitbeilegungsplattform (
  OS-Plattform) errichtet. Diese OS-Plattform kann ein Verbraucher für die außergerichtliche Beilegung einer
  Streitigkeit
  aus Online-Verträgen mit einem in der EU niedergelassenen Unternehmen nutzen. Die OS – Plattform ist unter folgendem
  Link erreichbar: http://ec.europa.eu/consumers/odr/</p>

<h4 id="weitere-adressen-von-schlichtungsstellen-und-möglichkeiten-der-außergerichtlichen">Weitere Adressen von
  Schlichtungsstellen und Möglichkeiten der außergerichtlichen</h4>

<p>Streitbeilegung erhalten Sie bei:</p>

<p>Bundesanstalt für Finanzdienstleistungsaufsicht (BAFin)
  Graurheindorfer Straße 108, 53117 Bonn
  www.bafin.de</p>



