---
layout: default
amp-iframe: true
styles:
- home.scss


---

<main role="main" class="home page container">
  <header class="post-header">
    <h1>Garantiert Dein letzter Wechsel!</h1>
    <h3>Dauerhafter Vertragswechsel ohne Aufwand und Papierkram!</h3>

    <a role="button" href="{{ site.cta_href_default }}"
       {% include data-amp-addparams %}>
      <button>Jetzt Anmelden</button>
    </a>
    <br>
    <small>* Für immer kostenlos</small>


  </header>
  <amp-img src="{{ 'assets/WechselGott/Device1.png' | relative_url }}" width="476" height="651"
           style="width: calc(min(476px, 100vw)); position: absolute; right: 0; top: 102px; z-index: -1"
           class="splash" layout="responsive"
           amp-fx="parallax" data-parallax-factor="0.75"
           alt="Device1.png">
    <div placeholder style="background: transparent"></div>
  </amp-img>


  <section class="usps">
    <div style="text-align:right;">
      <h4>100% automatisiert</h4>
      <p style="width: 448px;">
        Die WechselGott App analysiert all Deine Verträge, listet diese übersichtlich auf und bietet Dir ein Leben lang
        einen vollkommen automatisierten Wechselservice. Du hast alles unter Kontrolle!</p>
      <amp-img src="{{ 'assets/WechselGott/Mockup_Banking9.png' | relative_url }}"
               width="288" height="580"
               class="splash" layout="intrinsic"
               amp-fx="parallax" data-parallax-factor="0"
               alt="Mockup_Banking9.png">
        <div placeholder style="background: transparent"></div>
      </amp-img>
    </div>
    <div>
      <amp-img src="{{ 'assets/WechselGott/Mockup_Banking11.png' | relative_url }}"
               width="288" height="580"
               class="splash" layout="intrinsic"
               amp-fx="parallax" data-parallax-factor="0"
               alt="Mockup_Banking11.png"
               style="margin-bottom: 147px;">
        <div placeholder style="background: transparent"></div>
      </amp-img>
      <h4>1 App - volle Kontrolle</h4>
      <p>Multibanking: Alle Konten im Blick! WechselGott bietet Dir einen ganzheitlichen Finanzassistent, mit dem Du
        alle Einnahmen und Ausgaben im Blick hast.</p>
    </div>
    <div style="text-align:right;">
      <amp-img src="{{ 'assets/WechselGott/Mockup_Banking8.png' | relative_url }}"
               width="288" height="580"
               class="splash" layout="intrinsic"
               amp-fx="parallax" data-parallax-factor="0"
               alt="Mockup_Banking8.png"
               style="margin-bottom: 146px;">
        <div placeholder style="background: transparent"></div>
      </amp-img>
      <h4>Energieverträge optimieren</h4>
      <p>Auf Wunsch wechseln wir Deinen Stromanbieter zum günstigsten Anbieter aus Deiner Region. Du kannst Dich auch
        für Ökostrom- oder Ökogasanbieter entscheiden.</p>
    </div>

    <div>
      <h4>Top Tarife zur richtigen Zeit</h4>
      <ul style="margin-bottom: 63px;">
        <li>Zugriff auf alle Versicherer in Deutschland</li>
        <li>genau dann, wenn Du wechseln solltest Unsere Empfehlungen sind vollkommen unabhängig Unser Service ist
          komplett kostenlos
        </li>
        <li>wir verdienenerst dann, wenn Du auch sparst</li>
      </ul>

      <amp-img src="{{ 'assets/WechselGott/Mockup_Banking10.png' | relative_url }}"
               width="288" height="580"
               class="splash" layout="intrinsic"
               amp-fx="parallax" data-parallax-factor="0"
               alt="Mockup_Banking10.png">
        <div placeholder style="background: transparent"></div>
      </amp-img>
    </div>


  </section>


  <section class="testimonials"></section>
  <section class="how-it-works"></section>
  <section class="partner"></section>
  <section class="sicherheit"></section>
  <section class="blog"></section>
</main>
{% include splashes.html %}
