---
layout: default
---

<div class="center">

  <!-- Start Fullpage Hero -->
  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="404" height="720" alt="Wann startest du, deine eigenen Träume wahr werden zu lassen?" layout="responsive" src="{{ 'assets/img/Cup_Red.webp' | relative_url }}" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="Wann startest du, deine eigenen Träume wahr werden zu lassen?" layout="fixed-height" src="{{ 'assets/img/Cup_Red.webp' | relative_url }}" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0 m-auto home-caption">
      <header class="p3">
        <h1 class="ampstart-fullpage-hero-heading mb3">
          <span class="ampstart-fullpage-hero-heading-text">
            Wann startest du, deine eigenen
                        <br>
            Träume wahr werden zu lassen?
                        <br>
            Lass' dich mitreißen von Hunderten anderen motivierten Menschen in der FiNANZCAFÉ Community, die ihre finanziellen Ziele erreichen.
            <br>
            Für mehr finanzielle Freiheit,
            <br>
            mehr Erfolg - mit Leidenschaft!
            <br>
            Werde jetzt Teil unserer Community und nimm an unseren kostenlosen Veranstaltungen teil.
          </span>
        </h1>

        <div class="flex justify-center">
          <a target="_blank" href="https://www.meetup.com/de-DE/Finanzcafe">
          <button class="cta-button meetup-button">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#meetup' | relative_url }}"></use></svg>
          </button>
          </a>
          <a target="_blank" href="https://www.facebook.com/pg/finumfinanzcafe/events/?ref=page_internal">
          <button class="cta-button facebook-button">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg>
          </button>
          </a>
          <a target="_blank" href="https://www.eventbrite.de/o/finanzcafe-20225011947" >
          <button class="cta-button eventbrite-button">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#eventbrite' | relative_url }}"></use></svg>
          </button>
          </a>
          <a target="_blank" href="https://www.gotostage.com/channel/finanzcafe" >
          <button class="cta-button gotostage-button">
            <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#gotostage' | relative_url }}"></use></svg>
          </button>
          </a>
        </div>
      </header>
    </figcaption>
  </figure>
  <!-- End Fullpage Hero -->
</div>

<main id="content" role="main">
  <section class="post-content m3 justify">
    {{ content }}
  </section>
</main>
