---
layout: default
amp-iframe: true
headerImage: assets/FiNUM-KlinkMakler/AdobeStock_298001238.jpg
styles:
  - home.scss
---

<main id="content" role="main" class="home">
  <section class="post-content">
    {% if page.content-title %}
    <h1>{{page.content-title}}</h1>
    {% endif %}
    {% if page.content-subtitle %}
    <h2 class="subtitle">{{page.content-subtitle}}</h2>
    {% endif %}

    <figure class="fish">
      <amp-img src="{{ 'assets/FiNUM-KlinkMakler/Fish_viereck.png' | relative_url }}" width="860" height="800"
               layout="intrinsic" alt="Fish"></amp-img>
      <figcaption style=" font-size: min(36px, 4.7vw)">Kreative Kommunikation
        für Ihre Gesundheit</figcaption>
    </figure>

    <div class="flex">
    {{ content }}
    </div>

    {% include cta-button.html %}

    <div class="about flex">
      <div>
        {% for item in page.list  %}
        {% assign index_modulo = forloop.index | modulo:2 %}
        {% if index_modulo == 1 %}
        <a href="{{ site.baseurl }}{{ item.href }}">
        <figure style=" font-size: min(36px, 4.7vw)">
          <amp-img src="{{ item.img | relative_url }}" width="584" height="584"
                   layout="intrinsic" alt="{{ item.text }}"></amp-img>
          <figcaption>
            {{ item.text }}</figcaption>
        </figure>
        </a>
        {% endif %}
        {% endfor %}
      </div>

      <div style="margin-top: 189px;">
        {% for item in page.list %}
        {% assign index_modulo = forloop.index | modulo:2 %}
        {% if index_modulo == 0 %}
        <a href="{{ site.baseurl }}{{ item.href }}">
        <figure style=" font-size: min(36px, 4.7vw)">
          <amp-img src="{{ item.img | relative_url }}" width="584" height="584"
                   layout="intrinsic" alt="{{ item.text }}"></amp-img>
          <figcaption>
            {{ item.text }}</figcaption>
        </figure>
        </a>
        {% endif %}
        {% endfor %}
      </div>

    </div>

    <div class="about">
        {% for item in page.list  %}
        <figure style=" font-size: min(36px, 4.7vw)">
          <amp-img src="{{ item.img | relative_url }}" width="584" height="584"
                   layout="intrinsic" alt="{{ item.text }}"></amp-img>
          <figcaption>
            {{ item.text }}</figcaption>
        </figure>
        {% endfor %}
    </div>

    <h2>Wo Sie uns finden:</h2>
    <amp-iframe
      sandbox="allow-scripts allow-same-origin"
      src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJG_ID8GVWn0cRofdy7XiWTW4&key=AIzaSyA5jYy1ETiNFePjseIAjsGcl2TYa9-n9kM"
      width="390" height="260" layout="responsive"></amp-iframe>



  </section>

  <figure style=" font-size: min(36px, 4.7vw); margin-top: 8em;">
    <amp-img src="assets/FiNUM-KlinkMakler/FiNUM_Werte_Wegweisend.jpg" width="1600" height="1067"
             layout="responsive" alt="Werte_Wegweisend"></amp-img>
    <figcaption >
      <h2>Wohin Sie auch gehen</h2>
      <p>FiNUM.Klinik Makler begleitet Sie auf allen Wegen</p>
    </figcaption>
  </figure>

  <amp-img src="assets/FiNUM-KlinkMakler/farbbombe1.png" width="1579.3" height="1054.22"
           style="position: absolute;right: -518.65px;top: calc(50% - 1054.22px/2 - 324.59px);transform: rotate(75.01deg);"
            alt="farbbombe6"></amp-img>
  <amp-img src="assets/FiNUM-KlinkMakler/farbbombe6.png" width="1053" height="1580"
           style="position: absolute;left: -463.69px;top: 1671.77px;transform: rotate(-93.17deg);"
            alt="farbbombe6"></amp-img>

</main>
