---
layout: default
styles:
- default.scss
- presse.scss
- blog.scss

---

<main class="page container" role="main">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
    {{ content }}
  </header>

  <figure>
    <amp-img height="448px" width="448px" alt="Nadine Schnell" layout="intrinsic"
             src='{{ "assets/WechselGott/jobs-Patrick-Ittner.png" | relative_url }}'></amp-img>
    <figcaption>
      <h3 class="color-secondary">Patrick Ittner</h3>
      <a href="mailto:patrick.ittner@wechselgott.com">patrick.ittner@wechselgott.com</a>
    </figcaption>
  </figure>


  <div class="frame">
  {% for post in site.data.jobs %}
  {% if post.url%}
  <a href="{{ post.url }}" itemprop="url">
  {% endif %}
    <article itemprop="blogPost" role="article" itemscope itemtype="http://schema.org/BlogPosting">
      {% if post.coverImage %}
      {% assign alt = post.coverImage | split: '.' %}
      <figure>
        <amp-img height="630px" width="1120px" alt="{{ alt[0] }}" layout="responsive"
                 src='{{ post.coverImage | prepend: "/assets/post/" | relative_url }}'></amp-img>
      </figure>
      {% endif %}
      <div class="article-item">
        <header class="post-header">
          <h4 class="post-title" itemprop="headline">{{ post.title }}</h4>
        </header>
        <section class="post-excerpt" itemprop="description">
          <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
        </section>
      </div>
    </article>
  {% if post.url%}
  </a>
  {% endif %}
  {% endfor %}
  </div>




  {% unless page.nocta %}
  {% include cta-button.html %}
  {% endunless %}
  {% include splashes.html %}

</main>

