---
layout: default
styles:
- default.scss
- presse.scss
- blog.scss

---

<main class="page container" role="main">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
    {{ content }}
  </header>

  <figure>
    <amp-img height="448px" width="448px" alt="Nadine Schnell" layout="intrinsic"
             src='{{ "assets/WechselGott/jobs-Patrick-Ittner.png" | relative_url }}'></amp-img>
    <figcaption>
      <h3 class="color-secondary">Patrick Ittner</h3>
      <a href="mailto:patrick.ittner@wechselgott.com">patrick.ittner@wechselgott.com</a>
    </figcaption>
  </figure>


  {% assign data = site.data.jobs %}
  {% include data-loop.html %}




  {% unless page.nocta %}
  {% include cta-button.html %}
  {% endunless %}
  {% include splashes.html %}

</main>

