---
layout: page
styles:
- sicherheit.scss
- kosten.scss

---

<div class="wrap with-image">
  <div style="margin-left: 0;">
    <p>Wir sind der Meinung, dass Ehrlichkeit die Grundlage für eine gute Beziehung ist – auch für eine Kundenbeziehung.
      Daher ist uns Transparenz Dir gegenüber besonders wichtig. Wir sind davon überzeugt, dass Dir unser Wechselservice
      einen wirklichen Mehrwert bietet – nämlich das Einsparen von Geld, Zeit, Verwaltungsaufgaben und meist Ärger. Für
      diesen Service verlangen wir teilweise eine Gebühr – damit es sich auch für uns als junges Unternehmen rechnet.
      Im Folgenden erklären wir Dir dazu mehr!</p>
  </div>
</div>
<div class="wrap with-image mt">
  <div>
    <h3>Kostenlose App</h3>
    <p>Die Nutzung unserer App ist für Dich kostenlos möglich. Dank der Multibanking-Funktion kannst Du all Deine Konten
      bequem in einer App verwalten und Du verlierst nie mehr den Überblick über Deine Finanzen.
    </p>
  </div>

  <amp-img src="{{ 'assets/WechselGott/Kostenlose-App.svg' | relative_url }}"
           width="343" height="343"
           class="splash" layout="intrinsic"
           alt="Kostenlose-App.svg">
    <div placeholder style="background: transparent"></div>
  </amp-img>
</div>

<div class="wrap mt mb">
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Bankingbard.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Bankingbard.svg">
    </amp-img>
    <h4>Multibanking (kostenlos)</h4>
    <p>Verknüpfe alle Deine Konten bequem in der WechselGott App. Egal bei welcher Bank Du bist.</p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Financialanalysis.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Financialanalysis.svg">
    </amp-img>
    <h4>Finanzanalyse (kostenlos)</h4>
    <p>Alle Deine Verträge, Versicherungen und wiederkehrenden Zahlungen in einer übersichtlichen Darstellung.</p>
  </div>
</div>

<div class="wrap with-image mb">
  <amp-img src="{{ 'assets/WechselGott/Lightbulb.svg' | relative_url }}"
           width="196" height="301"
           class="splash" layout="intrinsic"
           alt="Lightbulb.svg">
    <div placeholder style="background: transparent"></div>
  </amp-img>
  <div>
    <h3>Optimieren Deiner Energieverträge</h3>
    <p>Wir bekommen für unseren Service 20% Deiner tatsächlichen Einsparung – das sind alle Kosten für unsere
      Optimierung. Der Bezugswert ist hierbei, was Du zahlst, wenn Du nicht wechseln würdest (Rechenbeispiel siehe
      unten).
      <br><br>
      Für die Optimierung Deiner Energieverträge fallen also 20% der tatsächlichen Einsparung an. Berechnet wird das
      nach einem Jahr, wenn klar ist, wie viel Deine Einsparung wirklich betragen hat.
      <br><br>
      Was ist der Bezugswert?
      <br><br>
      Hierfür werden die Kosten herangezogen, die entstehen würden, wenn kein Wechsel stattgefunden hätte. Das heißt,
      wenn Du bzw. wir nicht für Dich aktiv geworden wären.</p>
  </div>
</div>

<div class="wrap with-image small mb">
  <div>
    <h3>Rechenbeispiel</h3>
    <p>Du bist aktuell bei einem Versorger A. Der Versorger A kostet Dich für das folgende Vertragsjahr 800 Euro, wenn
      Du nicht wechseln würdest. Die Kosten von Versorger B sind inkl. eventueller Boni insgesamt: 600 Euro für ein
      Vertragsjahr. Deine Einsparung beträgt somit 200 Euro. WechselGott erhält hiervon 20%, sprich: 40 Euro. Du sparst
      am Ende somit 160 Euro.
      <br><br>
      Das wars. Es gibt keine versteckten Kosten. Wir verdienen nur Geld, wenn Du sparst.</p>
  </div>

  <amp-img src="{{ 'assets/WechselGott/Card-Compare-Energycontract.png' | relative_url }}"
           width="343" height="343"
           class="splash" layout="intrinsic"
           alt="Card-Compare-Energycontract.png">
    <div placeholder style="background: transparent"></div>
  </amp-img>
</div>

<div class="focus mb">
  <h3>Du im Fokus: <br>Wir handeln zu 100% in Deinem Interesse</h3>
  <p>Wir haben uns ganz gezielt gegen ein Provisionsmodell beim Energiewechsel entschieden. Das bedeutet, wir erhalten
    von
    Deinem neuen Strom- oder Gasanbieter <b>keinerlei Prämien oder Provisionen</b>. Du bist unser Auftraggeber und wir
    richten
    unser Augenmerk zu 100% auf Dich und Deine Ersparnis.
    <br><br>
    Wir ermitteln den für Dich optimalen Partner und schlagen Dir
    nicht das Angebot vor, mit dem wir am meisten Provision erhalten. Aufgrund unserer Unabhängigkeit können wir und
    unsere Partner jeden Anbieter einem strengen Qualitäts-Check unterziehen: Damit wird überprüft, ob der Strom- oder
    Gasanbieter wirklich in Deinem Sinne handelt. Anbieter, die unseren Check nicht bestehen, werden ausgeschlossen.</p>
</div>

<div class="wrap with-image">
  <amp-img src="{{ 'assets/WechselGott/Mockup_Banking-16.png' | relative_url }}"
           width="288" height="580"
           class="splash" layout="intrinsic"
           alt="Mockup_Banking-16.png"
           style="filter: drop-shadow(16px 24px 64px rgba(0, 0, 0, 0.08));">
    <div placeholder style="background: transparent"></div>
  </amp-img>
  <div>
    <h3>Maklermandat</h3>
    <p>Mit Unterzeichnung des Maklermandats erteilst Du die Zustimmung, dass wir in Deinem Namen Deine Verträge
      optimieren dürfen. Keine Sorge, wir tun dies niemals ohne Rücksprache mit Dir.
      <br><br>
      Durch unsere Funktion als Makler erhalten wir für Deine Verträge und Versicherungen die Bestandsprovision. Hierbei
      handelt es sich um eine Vergütung, die Deine Versicherungsgesellschaft direkt an ihre Makler bezahlt. <b>Es
        entstehen
        keinerlei Extrakosten für Dich</b>. Diese Gebühr bezahlt Deine Versicherung direkt an uns. Die Provision wird
      dafür
      bezahlt, dass Du Kunde bei der jeweiligen Versicherungsgesellschaft bist und wird für die kostenfreie Beantwortung
      von Fragen und Beratungsleistungen an die Makler entrichtet. Solltest Du Fragen bzgl. Deiner Police haben, kannst
      Du Dich also gerne immer an unsere geschulten Berater wenden.</p>
  </div>
</div>
<div class="wrap with-image mt">
  <div>
    <h3>Neuabschluss von Versicherungen</h3>
    <p>Du hast in der WechselGott App nicht nur die Möglichkeit bestehende Verträge zu optimieren, sondern auch neue
      Versicherungsverträge abzuschließen.
      <br><br>
      Wir bieten Dir einen der größten unabhängigen und kostenlosen Vergleichsservices. So kannst Du den optimalen Tarif
      und Schutz für Dich finden. Entscheidest Du Dich einen Neuvertrag abzuschließen, erhalten wir für Deinen Abschluss
      eine Provision vom Versicherer. Für Dich fallen neben Deinem Versicherungsbeitrag <b>keine zusätzlichen Kosten an</b>, da
      die Provision bereits vom Versicherer in Deinem Beitrag berücksichtigt wurde. Die Höhe unserer Provision
      unterscheidet sich je nach Vertrag und ist meist ein gewisser Prozentsatz der Beitrags- bzw.
      Versicherungssumme. </p>
  </div>
  <amp-img src="{{ 'assets/WechselGott/Mockup_Banking17.png' | relative_url }}"
           width="288" height="580"
           class="splash" layout="intrinsic"
           alt="Mockup_Banking17.png"
           style="filter: drop-shadow(16px 24px 64px rgba(0, 0, 0, 0.08));">
    <div placeholder style="background: transparent"></div>
  </amp-img>
</div>
<div class="wrap with-image mt mb">
    <amp-img src="{{ 'assets/WechselGott/Mockup_Banking6.png' | relative_url }}"
             width="288" height="580"
             class="splash" layout="intrinsic"
             alt="Mockup_Banking6.png"
             style="filter: drop-shadow(16px 24px 64px rgba(0, 0, 0, 0.08));">
      <div placeholder style="background: transparent"></div>
    </amp-img>
  <div>
    <h3>Verträge einfach kündigen mit unserem Partner aboalarm</h3>
    <p>Egal ob Dein zu teurer Mobilfunkvertrag, die nicht genutzte Fitnessstudio-Mitgliedschaft oder Dein Pay-TV-Abo.
      Mit unserem Partner Aboalarm kündigst Du diese Verträge direkt aus der WechselGott App heraus. Du musst nichts
      weiter tun, als der Schritt-für-Schritt-Anleitung zu folgen. Du brauchst kein Kündigungsschreiben aufsetzen,
      Einschreiben absenden oder ähnliches. Aboalarm kümmert sich um den Versand der Kündigung und nimmt Dir die
      komplette Arbeit ab.
      <br><br>
      Die Kosten für eine Kündigung variieren je nach Zahlungsart zwischen <b>3,99 € bis 4,99 € pro Kündigung</b>. Für
      jede
      durchgeführte Kündigung erhalten wir 60 Cent. Die restlichen Erträge fließen an Aboalarm, die damit die Gebühren
      für den Versand/ Porto bzw. ihre Kosten decken.</p>
  </div>
</div>

<h2 style="margin-bottom: 0;">Alle Funktionen im Überblick</h2>
<div class="wrap safety mb">
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Bankingbard.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Bankingbard.svg">
    </amp-img>
    <h4>Multibanking (kostenlos)</h4>
    <p>Verknüpfe alle Deine Konten bequem in der WechselGott App. Egal bei welcher Bank Du bist.</p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Financialanalysis.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Financialanalysis.svg">
    </amp-img>
    <h4>Finanzanalyse (kostenlos)</h4>
    <p>Alle Deine Verträge, Versicherungen und wiederkehrenden Zahlungen in einer übersichtlichen Darstellung.</p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Electricity.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Electricity.svg">
    </amp-img>
    <h4>Stromtarif-Optimierung</h4>
    <p>Optimiere dauerhaft (meist jährlich) Deinen Stromtarif ohne zusätzlichen Aufwand.</p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Gas.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Gas.svg">
    </amp-img>
    <h4>Gastarif-Optimierung</h4>
    <p>Senke dauerhaft Deine Kosten für Gas ohne Recherche- und Kündigungsaufwand.</p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Contract.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Contract.svg">
    </amp-img>
    <h4>Kündigungsmanager</h4>
    <p>Kündige Deine Verträge für Fitnesstudio, Mobilfunk etc. bequem in der WechselGott App mit unserem Partner
      Aboalarm.</p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Versicherung.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Versicherung.svg">
    </amp-img>
    <h4>Versicherungen</h4>
    <p>Finde in einem der größten unabhängigen und für Dich kostenlosen Vergleichservices die optimale Versicherung.</p>
  </div>
</div>


<div class="cta">
  <h3>Schluss mit zu teuren Vertägen</h3>
  <p>Registriere Dich jetzt in weniger als 2 Minuten bei WechselGott. Optimiere Deine Verträge, wie von selbst und spare
    bis zu Hunderte Euro pro Jahr. </p>
  {% assign cta_text= "Jetzt Anmelden" %}
  {% include cta-button.html %}
</div>
