---
layout: default
amp-form: true
amp-mustache: true
---

<article class="page">
  <section class="post-content">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <h2 id="finumklinik-makler">FiNUM.Klinik Makler</h2>
    <hr>
    <p>Sie sind kein Krankenhaus? <br>
      Eine rationale Risikobewertung sowie deren Absicherung ist nicht nur <br>
      für Krankenhäuser relevant. Deshalb beraten wir gerne alle Akteure <br>
      im Gesundheitswesen um einen optimalen und gleichzeitig <br>
      preiswerten Versicherungsschutz zu gewährleisten.</p>

    <div>
      {{ content }}
    </div>

    {% include cta-button.html %}

  </section>
</article>

{% include splashes.html %}
