---
layout: home
Mockup_Banking9: "assets/WechselGott/Mockup_Banking9_vb.png"
MacbookPro-AlleKonten-noshadow1: "assets/WechselGott/MacbookPro-AlleKonten-noshadow1_vb.png"
styles:
- partner.scss
- home.scss
- blog.scss

---

{% assign partner = page.path | split: "/" | first %}
{% assign partnerLogo = '/logo.svg' | prepend: partner %}

<section class="this-partner">
  <h3>Eine starke Partnerschaft</h3>
  <amp-img data-amp-auto-lightbox-disable src="{{ partnerLogo | relative_url }}"
           width="250" height="32" layout="intrinsic" alt="{{ site.title }}"></amp-img>
  <amp-img data-amp-auto-lightbox-disable src="{{ site.logo | relative_url }}"
           width="188" height="32" layout="intrinsic" alt="{{ site.title }}"></amp-img>

  {{ content }}
</section>
