---
layout: default
styles:
- default.scss
- post.scss
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

    {% if page.thumbnail %}
    {% assign alt = page.thumbnail | split: '.' %}
    <figure>
      <amp-img width="{{page.thumbnailWidth | default: page.width}}"
               height="{{page.thumbnailHeight | default: page.height}}" alt="{{ alt[0] }}" layout="responsive"
               src='{{ page.thumbnail | prepend: "/assets/post/" | relative_url }}'></amp-img>
    </figure>
    {% endif %}

    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    {% assign static = page.images | prepend: "/assets/post/" | append: "/" %}
    {% for image in site.static_files %}
    {% if image.path contains static %}

    {% assign alt = image.path | replace:'/assets/post/','' | split: '.' %}
    <amp-img width="{{page.width}}" height="{{page.height}}" alt="{{ alt[0] }}" layout="responsive"
             src='{{ image.path | relative_url }}'></amp-img>
    {% endif %}
    {% endfor %}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden {% include data-amp-addparams %}></a>
</article>
