---
layout: page
styles:
- sicherheit.scss

---

<div class="wrap with-image">
  <div>
    <h3>Kein notwendiges Übel, sondern Corporate Philiosophy</h3>
    <p style="margin-bottom: 32px;">Im Umgang mit sensiblen Finanzdaten ist das Thema Datenschutz besonders wichtig. Deswegen arbeiten wir nach der
      Philosophie “Privacy & Security by Design”. Das bedeutet Datensicherheit ist nicht bloß eine Checkliste mit
      Mindestanforderungen, die nach Fertigstellung eines Features abgehakt wird, sondern wir beziehen Sicherheits- und
      Datenschutzbeauftragte von Anfang an in den Entwicklungsprozess ein. So können wir garantieren, dass jeder
      einzelne
      Entwicklungsbaustein unter Berücksichtigung der bestmöglichen Datensicherheit gebaut wird.</p>
  </div>
  <amp-img src="{{ 'assets/WechselGott/Safe+Shadow.svg' | relative_url }}"
           width="173" height="207"
           class="splash" layout="intrinsic"
           alt="Safe+Shadow.svg">
    <div placeholder style="background: transparent"></div>
  </amp-img>
</div>
<div class="wrap with-image mt">
  <amp-img src="{{ 'assets/WechselGott/Server+Shadow.svg' | relative_url }}"
           width="173" height="207"
           class="splash" layout="intrinsic"
           alt="Server+Shadow.svg">
    <div placeholder style="background: transparent"></div>
  </amp-img>
  <div>
    <h3>Technische Details</h3>
    <p>Wir befolgen neue SSL/TLS Standards mit Ciphersuites, die 128 und 256 bit Verschlüsselung unterstützen und wir
      benutzen ein mehrstufiges Verschlüsselungskonzept (Security of Data in Transit, in Motion and at Rest).
      Egal ob Deine Daten unterwegs, auf unseren Servern oder in Verwendung sind, wir stellen einen
      zuverlässigen und nachhaltigen Schutz sicher. Dies ist vereinbar mit unserem mehrstufigen Sicherheitskonzept, welches die
      Verschlüsselung der Daten in jedem Zustand einbezieht.
      Alle Kundendaten werden einzeln, mit unterschiedlichen Keys verschlüsselt.
      Außerdem werden regelmäßige Sicherheitstest (Penetrationstests) durchgeführt, um die Sicherheit der Anwendungen zu
      testen, Sicherheitslücken zu identifizieren und zu beseitigen.</p>
  </div>
</div>


<h2>Sicherheitsstandards</h2>

<div class="wrap block">
  <div>
    <amp-img src="{{ 'assets/WechselGott/ISO27018.svg' | relative_url }}"
             width="200" height="200"
             class="splash" layout="intrinsic"
             alt="ISO27018.svg">
    </amp-img>
    <h4>ISO 27018</h4>
    <p>ISO 27018 ist eine international anerkannte Norm für Informationssicherheit. Dieses strenge Reglement sieht drei
      Aspekte vor, um Datenschutz zu gewährleisten:
      <br>
      1. Vertrauenswürdigkeit: Deine Daten werden vertraulich behandelt.
      <br>
      2. Integrität: Deine Daten müssen vollständig, korrekt und sicher vor Korruption sein.
      <br>
      3. Verfügbarkeit: Du kannst Deine persönlichen Daten jederzeit abrufen.
      <br><br>

      Das kannst Du damit vergleichen, wenn Du am Bankschalter 1.000 Euro abheben willst: Nur Du und der Bankberater
      wissen,
      dass Du Geld abgehoben hast (Vertrauenswürdigkeit), Du bekommst genau 1.000 Euro ausgezahlt und nicht weniger
      (Integrität) und Du kannst dieses Geld jederzeit abheben (Verfügbarkeit).</p>
  </div>


  <div>
    <amp-img src="{{ 'assets/WechselGott/OAUTH2.svg' | relative_url }}"
             width="200" height="200"
             class="splash" layout="intrinsic"
             alt="OAUTH2.svg">
    </amp-img>
    <h4>OAuth2</h4>
    <p>OAuth2 ist ein Sicherheitsprotokoll, dass wir einhalten wenn wir Daten von Drittanbietern anfordern, zum Beispiel
      bei Deiner Bank.
      <br><br>
      Wenn Du über die App Deine Kontodaten abrufen willst, wird für WechselGott ein sogenanntes “Access Token”
      ausgestellt, dass uns erlaubt die Daten abzurufen. Das Access Token kannst Du Dir vorstellen wie die Zugangskarte
      zu
      einem Hotelzimmer.
      <br><br>
      Sie kann WechselGott jederzeit entzogen werden. Somit ist sichergestellt, dass wir Deine Daten nur dann anfordern
      können, wenn Du das erlaubst.</p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/PCI-DSS.svg' | relative_url }}"
             width="200" height="200"
             class="splash" layout="intrinsic"
             alt="PCI-DSS.svg">
    </amp-img>
    <h4>PCI-DSS-Zertifizierung</h4>
    <p>Die PCI-DSS-Zertifizierung bescheinigt die sichere Verarbeitung von sensiblen Zahlungskartendaten. Die Einhaltung
      dieses Standards wird jährlich vom TÜV-Süd geprüft. Darunter fallen Antivirenschutz, Verschlüsselung und sichere
      Übermittlung von Kreditkartendaten, Sichere Softwareentwicklung, Physische Sicherheitsvorkehrungen,
      Protokollierung von IT- Sicherheitsvorfällen, Technische IT- Sicherheitsüberprüfungen (Penetrationstests und
      Schwachstellenscans), Risikomanagement und Incident Response, IT-Sicherheitsrichtlinien, Sensibilisierung und
      Schulung der Mitarbeiter.
    </p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/C5.svg' | relative_url }}"
             width="200" height="200"
             class="splash" layout="intrinsic"
             alt="C5.svg">
    </amp-img>
    <h4>C5-Katalog</h4>
    <p>Der C5-Katalog (Cloud Computing Compliance Controls Catalog) wurde im Jahr 2016 vom Bundesamt für Sicherheit
      erstellt. Dieser Katalog definiert Mindestanforderungen für die Sicherheit von Cloud-Lösungen wie WechselGott.
      <br><br>
      Dazu zählt einerseits die Organisation der Datensicherheit, aber auch dass die Server hinter Mauern und
      Kontrollschleusen und somit sicher vor unbefugtem Zutritt sind.</p>
  </div>
</div>

<h2>Wie Du Dich selber schützen kannst</h2>
<p style="margin-bottom: 0;">Leider gibt es viele Online-Betrüger, die sich als Mitarbeiter einer Firma ausgeben, um Dich nach Deinen Daten zu
  fragen und Zugang zu persönlichen Konten zu erhalten. Diese Art der Kriminalität wird als Phishing bezeichnet. Wir
  haben einige Vorkehrungen getroffen, damit Du Dich vor Phishing schützen kannst:</p>


<div class="wrap safety">
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-IT-Security.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-IT-Security.svg">
    </amp-img>
    <h4>Behandle Deine Daten vertraulich</h4>
    <p>WechselGott-Mitarbeiter werden Dich niemals nach einem Passwort oder Authentifizierungscode fragen. Sollte es
      Dir passieren, dass sich jemand für einen WechselGott-Mitarbeiter ausgibt und dannach fragt, sende bitte sofort
      eine Nachricht, wenn möglich mit Screenshot, an:</p>
    <p><a href="mailto:sicherheit@wechselgott.com">sicherheit@wechselgott.com</a></p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Support.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Support.svg">
    </amp-img>
    <h4>Vertraue nur direkten WechselGott-Mitarbeiter*innen</h4>
    <p>WechselGott bietet keine Kontounterstützung über soziale Medien oder über Partneragenturen an. Wenn Du von
      jemandem kontaktiert wirst, der behauptet, ein Agent außerhalb des Unternehmens zu sein, handelt es sich um einen
      Betrug.
    </p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Lock.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Lock.svg">
    </amp-img>
    <h4>Sicherheitshinweise</h4>
    <p>Achte auf das Schloss: An einem verriegelten Schlosssymbol in der Adresszeile Deines Browsers erkennst Du, dass
      Deine Daten sicher übertragen werden. Manche Browser färben auch das Adressfeld grün ein.
    </p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Smartphone.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Smartphone.svg">
    </amp-img>
    <h4>Update die WechselGott App</h4>
    <p>Verwende immer die neueste Version der App. Damit ist garantiert, dass die neusten Sicherheitsstandards
      eingehalten sind.
    </p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Eye.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Eye.svg">
    </amp-img>
    <h4>Bleib wachsam</h4>
    <p>Bleib aufmerksam und melde uns verdächtiges Verhalten. Wenn Du Zweifel hast und Dir während der Verbindung zum
      Online-Banking etwas dubios vorkommt – brich die Aktion besser ab. Erhältst Du eine verdächtige E-Mail, leite
      diese bitte an <a href="mailto:sicherheit@wechselgott.com">sicherheit@wechselgott.com</a> weiter. Unser
      Sicherheitsbeauftragter prüft die Lage und verhindert,
      dass sich die E-Mail weiterverbreitet.</p>
  </div>
  <div>
    <amp-img src="{{ 'assets/WechselGott/Icon-Key.svg' | relative_url }}"
             width="96" height="96"
             class="splash" layout="intrinsic"
             alt="Icon-Key.svg">
    </amp-img>
    <h4>Sichere Passwörter</h4>
    <p>Verwende ein sicheres Passwort, bestehend aus mindestens acht Zeichen, mindestens einem Groß- und einem
      Kleinbuchstaben, einer Zahl und einem Sonderzeichen. Wir empfehlen die Nutzung eines Passwortmanagers, sodass Du Dir
      nicht alle Passwörter merken musst. Mehr nützliche Tipps für sichere Passwörter bekommst Du <a
        href="https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Informationen-und-Empfehlungen/Cyber-Sicherheitsempfehlungen/Accountschutz/Sichere-Passwoerter-erstellen/sichere-passwoerter-erstellen_node.html">hier</a>.
    </p>
  </div>
</div>

<div class="cta">
  <h4>Verwalte Deine Verträge sicher in der WechselGott App.</h4>
  {% assign cta_text= "Jetzt Anmelden" %}
  {% include cta-button.html %}
  <small>* Für immer kostenlos</small>
</div>
