---
layout: default
styles:
- default.scss
- ueber-uns.scss

---

<main class="page container" role="main">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
    {{ content }}

    <a role="button" href="{{ '/jobs' | prepend: site.baseurl }}" class="cta-button" {% include data-amp-addparams %}>
      <button>Offene Stellen</button>
    </a>
  </header>

  {% assign data = site.data.ueber-uns %}
  {% include data-loop.html %}


  <div class="center" style="max-width: 544px; margin: auto;">
    <h3>Werde Teil des Teams</h3>
    <p>Lust gemeinsam den einfachsten Vertragswechsel Deutschlands mitzuentwickeln?
      <br>
      Dann bist Du genau richtig bei uns.</p>
    <a role="button" href="{{ '/jobs' | prepend: site.baseurl }}" class="cta-button" {% include data-amp-addparams %}>
      <button>Offene Stellen</button>
    </a>
  </div>


  {% unless page.nocta %}
  {% include cta-button.html %}
  {% endunless %}
  {% include splashes.html %}
</main>

