---
layout: default
styles:
- default.scss
- ueber-uns.scss

---

<main class="page container" role="main">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
    {{ content }}

    <a role="button" href="{{ '/jobs' | prepend: site.baseurl }}" class="cta-button">
      <button>Offene Stellen</button>
    </a>
  </header>

  <div class="frame">
  {% for post in site.data.ueber-uns %}
  <a href="{{ post.url }}" itemprop="url">
    <article itemprop="blogPost" role="article" itemscope itemtype="http://schema.org/BlogPosting">
      {% if post.coverImage %}
      {% assign alt = post.coverImage | split: '.' %}
      <figure>
        <amp-img height="630px" width="630px" alt="{{ alt[0] }}" layout="responsive"
                 src='{{ post.coverImage | prepend: "/assets/WechselGott/" | relative_url }}'></amp-img>
      </figure>
      {% endif %}
      <div class="article-item">
        <header class="post-header">
          <h4 class="post-title" itemprop="headline">{{ post.title }}</h4>
        </header>
        <section class="post-excerpt" itemprop="description">
          <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
        </section>
      </div>
    </article>
  </a>
  {% endfor %}
  </div>


  <div class="center" style="max-width: 544px; margin: auto;">
    <h3>Werde Teil des Teams</h3>
    <p>Lust gemeinsam den einfachsten Vertragswechsel Deutschlands mitzuentwickeln?
      <br>
      Dann bist du genau richtig bei uns.</p>
    <a role="button" href="{{ '/jobs' | prepend: site.baseurl }}" class="cta-button">
      <button>Offene Stellen</button>
    </a>
  </div>


  {% unless page.nocta %}
  {% include cta-button.html %}
  {% endunless %}
  {% include splashes.html %}
</main>

